* {
    box-sizing: border-box;
} 
body {
    margin: 0px;
}

header {
    background-color: hsl(0, 0%, 71%);
    text-align: center;
    padding: 25px;
}

.navbar {
    background-color: hsl(0, 0%, 15%);
    height: 50px;
}

aside {
   width: 20%;
   float: left; 
   padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
}

footer {
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 71%);
    text-align: center;
    padding: 25px;
}


@media screen and (max-width: 600px) {
    aside, section, article {
        width: 100%;
    }
}

.gallery-container {
    width: 100%;
    float: left;
}

.gallery {
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
}

